
.main-section {
    display: flex;
}

.products{
    display: flex;
    flex-direction: column;
    margin: 25px;
}

.cart{
    display: flex;
    flex-direction: column;
}

.product{
    display: flex;
    justify-content: space-between;
}

.cart-object{
    display: flex;
}

button{
    align-self: center;
    height: 25px;
    background-color: darkgray;
    border: none;
}